<section class="home-banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>Bem-vindos à Barbearia!</h1>
      <p>
        Nao perca essa oferta imperdivel!!
        <strong>Desconto de 50% em todos os produtos!</strong>
        Agende seu horário agora mesmo!
        Ou visite nosso site para mais informações.
      </p>
    </div>
    <div class="banner-image">
      <img
        src="https://img.freepik.com/vecteurs-libre/illustration-toilettage-masculin-degrade_52683-137190.jpg?t=st=1744892882~exp=1744896482~hmac=09986085dadf1acf44175667a5681dde3462d5d57459bd5df23244ad653a8f16&w=740"
        alt="Barbearia profissional"
      />
    </div>
  </div>
</section>
